<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<mat-sidenav-container autosize>
<div cdkDropListGroup class="ml-25">
  <div class="example-container">
    <h2>Non rendue</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{item.titre}}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Rendue</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
        <div class="example-box" cdkDrag>{{item.titre}}</div>
      }
    </div>
  </div>
</div>
</mat-sidenav-container>