:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .large-card {
    width: 350px; /* Largeur personnalisée du card */
  }

  .large-input {
    width: 300px; /* Largeur personnalisée des inputs par rapport à la largeur du card */
    /* -32px pour compenser les marges par défaut des mat-form-field */
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    /*padding: 16px;*/
    width: 300px;
    color: red;
   /*background-color: red;*/
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
  }
