<h2>{{ titre }}</h2>
<div>
  @for(a of assignments; track a.nom_auteur) {
    <app-assignment  [id]="a._id"></app-assignment>
  }
  <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="totalPages"
               [pageSize]="limit"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[5, 10, 25]"
               [pageIndex]="page"
               aria-label="Select page">
  </mat-paginator>
</div>

